<!DOCTYPE html>
<html>

<head>
  <title>Example Dashboard</title>
  <!-- <link rel='stylesheet' href='/reactBundles/component_modules/initial_dashboard/initial_dashboard.css' /> -->
</head>

<body>
  <div>
    <div id="react-root"></div>
  </div>
</body>
<script src="/reactBundles/vendor.js"></script>
<script src="/reactBundles/component_modules/initial_dashboard/initial_dashboard.js"></script>
<script> 
</html>