
.mapContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  visibility: inherit;
}

.sidebarStyle {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  background-color: #404040;
  color: #ffffff;
  z-index: 1 !important;
  padding: 6px;
  font-weight: bold;
}
