<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Example page</title>

    <script>
      // gets set to either production or development
      // depending on process.env.NODE_ENV
      var env = '<%= env %>';

      // console.log('env is', env);

      if (env == 'development') {
        var env_root_url = 'http://localhost:3000'
      }

      if (env == 'production') {
        var env_root_url = 'https://pmeaney.com'
      }

    </script>
    
  </head>

  <body>

    <!-- Page Content -->
    <div class="container mt-5">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12">
          <p>
            <h3>Example header</h3>
            <p>Some text.</p>
            <p>Some text.</p>
            <p>Some text.</p>
        </div>
      </div>
    </div>

  </body>


</html>